.game__header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.game__scores {
  display: flex;
  gap: 1rem;
  margin-right: auto;
}

.game__btns {
  display: flex;
  gap: 1rem;
}

.game__difficulty-btns {
  display: flex;
  gap: 0.25rem;
}

.game__difficulty-btn,
.game__reset-btn {
  padding: 0.125rem 0.5rem;
  background-color: var(--primary-color);
  border: none;
  box-shadow: var(--shadow-1);
  cursor: pointer;
}

.game__reset-btn {
  i {
    display: inline-block;
  }
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  gap: 1rem;
}

.card {
  width: 12rem;
  aspect-ratio: 4 / 5;
  box-shadow: var(--shadow-2);
  text-align: center;
  cursor: pointer;
  transition: transform 0.1s;
}

.card:hover,
.card:focus {
  transform: scale(1.025);
}

.card__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width < 768px) {
  .game__header {
    flex-direction: column;
  }

  .game__scores {
    margin: initial;
  }
}

/* Animations */
.header__title.lose-animation {
  animation: shakeX 0.5s ease-in-out, redText 0.5s ease-in-out;
}

.header__title.win-animation {
  animation: scaleBounce 0.5s ease-in-out, greenText 0.5s ease-in-out;
}

i.reset-animation::before {
  animation: rotate360 0.5s;
}

@keyframes shakeX {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-0.5rem);
  }
  40% {
    transform: translateX(0.75rem);
  }
  60% {
    transform: translateX(-0.75rem);
  }
  80% {
    transform: translateX(0.5rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes scaleBounce {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.96);
  }
  40% {
    transform: scale(1.08);
  }
  60% {
    transform: scale(0.92);
  }
  80% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes redText {
  0% {
    color: var(--font-color);
  }

  20% {
    color: var(--red);
  }

  80% {
    color: var(--red);
  }

  100% {
    color: var(--font-color);
  }
}

@keyframes greenText {
  0% {
    color: var(--font-color);
  }

  20% {
    color: var(--green);
  }

  80% {
    color: var(--green);
  }

  100% {
    color: var(--font-color);
  }
}

@keyframes rotate360 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}
